.shop {
  background-color: rgba(0, 0, 0, 0.856);
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.karzina{
  width: 20px;
}
.shop h1{
  color: white;
  font-size: 52px;
}
.shop p{
  color: darkgray;
  font-size: 24px;
  
}
.cards {
  margin-top: 100px;
}
.cards .card-body{
  text-align: center;
}
.stars img{
  width: 20px;
}
footer{
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.856);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}
footer p{
  color: darkgray;
}